*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 8rem;
    font-family: "Orbitron", Helvetica, sans-serif;
    font-weight: 600;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item{
    list-style: none;
    margin: 0 1rem;
}

.list-item:nth-child(1){
    font-size: 1.3rem;
    font-weight: 800;
    text-decoration: underline;
}



.button-group{
    display: flex;
    align-items: center;
}


button{
    padding: 0.5rem 3rem;
    background-color: transparent;
    border-radius: 0.5rem;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: 1rem;
}
.hero-container{
    margin: 5rem 8rem 2rem 8rem;
    position: relative;
    display: flex;
    gap: 3rem;
}

.square{
    position: absolute;
    z-index: -1;
    bottom: -70px;
    bottom: 0px;
    left: 100px;
}

.hero-image{
    width: 430px;
    position: relative;
    bottom: 40px;
    height: 520px;

}

.hero-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-heading{
    font-size: 51px;
    font-weight: bold;
    font-family: "Orbitron", Helvetica, sans-serif;
    margin: 4rem 2rem 2rem 4rem;
}

.hero-description{
    font-family: "Poppins", Helvetica, sans-serif;
    width: 60%;
    text-align: center;
    color: rgb(69, 69, 69);
    margin-bottom: 5rem;
}

.button-email{
    font-family: "Orbitron", Helvetica, sans-serif;
    font-weight: 800;
    color:rgb(59, 59, 59);
    border-color: rgb(59, 59, 59);
}

.button-join{
    font-family: "Orbitron", Helvetica, sans-serif;
    font-weight: 800;
    background-color:#000;
    color: #fff;
}

.contact-heading{
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 400;
    font-size: larger;
    color:rgb(59, 59, 59);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    text-transform: capitalize;
    
}
/* extra images */

.globe{
    top: 110px;
    left: 55%;
    position: absolute;
}


.star{
    top: 170px;
    right: 11%;
    position: absolute;

}
.star2{
    bottom: 60px;
    left: 47%;
    width: 50px;
    position: absolute;

}